<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Dashboard</title>
    <!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/dashboard/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/dashboard/css/font-awesome.css">

    <link rel="stylesheet" href="/dashboard/css/templatemo-softy-pinko.css">

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a class="logo">
                            <p class="radio">Radiology </p>
                        
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="/patients">Patients</a></li>
                            <li><a href="/doctors">Doctors</a></li>
                            <li><a href="/techs">Technicians</a></li>
                            <li><a href="/devices">Devices</a></li>
                            <li><a href="/dashboard" class="active">Dashboard</a></li>
                            <li><a href="/complains">Complains</a></li>
                            <li><a href="/logout"> <button class="btn btn--radius-2 btn--blue" href="/logout" style="background-color: #c44cba;
								border-radius: 20px;
								font-weight: bold;
								color: white;
								font-family: Verdana, Geneva, Tahoma, sans-serif;">Log out </button> </a> </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">


    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i class="fa fa-user-md fa-5x"></i>
                                </div>
                                <h5 class="features-title">Doctors</h5>
                                <p>
                                    <%= doctors %> Doctor
                                </p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i class="fa  fa-users fa-5x"></i>
                                </div>
                                <h5 class="features-title">Patients</h5>
                                <p>
                                    <%= patients %> Patient
                                </p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->


                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i class="fa fa-medkit" aria-hidden="true"></i>
                                </div>
                                <h5 class="features-title">Medical Devices</h5>
                                <p>
                                    <%= devices%> Device
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12"
                            data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i class="fa fa-cogs" aria-hidden="true"></i>
                                </div>
                                <h5 class="features-title">Technicians</h5>
                                <p>
                                    <%= techs%> Technicians
                                </p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a><i class="fa fa-facebook"></i></a></li>
                        <li><a><i class="fa fa-twitter"></i></a></li>
                        <li><a><i class="fa fa-linkedin"></i></a></li>
                        <li><a><i class="fa fa-rss"></i></a></li>
                        <li><a><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2021 Team-10 Database</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/dashboard/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="/dashboard/js/popper.js"></script>
    <script src="/dashboard/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/dashboard/js/scrollreveal.min.js"></script>
    <script src="/dashboard/js/waypoints.min.js"></script>
    <script src="/dashboard/js/jquery.counterup.min.js"></script>
    <script src="/dashboard/js/imgfix.min.js"></script>

    <!-- Global Init -->
    <script src="/dashboard/js/custom.js"></script>

</body>

</html>