<!DOCTYPE html>
<html lang="en">

<head>
	<title> Complains </title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/complains/images/icons/spreadsheet-512.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/complains/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/complains/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/complains/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/complains/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/complains/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/complains/css/util.css">
	<link rel="stylesheet" type="text/css" href="/complains/css/main.css">
	<!--===============================================================================================-->
</head>

<body>
	<div class="limiter">
		<div class="container-table100">
			<header class="header-area header-sticky">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<nav class="main-nav">
								<!-- ***** Logo Start ***** -->
								<a href="#" class="logo">
									<img src="/complains/images/logo-3.png" alt="Rad" />
								</a>
								<!-- ***** Logo End ***** -->
								<!-- ***** Menu Start ***** -->
								<ul class="nav">
									<li><a href="/home">Home</a></li>
									<li><a href="/signup">Signup</a></li>
									<li><a href="/login">Login</a></li>
									<li><a href="/patients">Patient</a></li>
									<li><a href="/doctors">Doctor</a></li>
									<li><a href="/techs">Technician</a></li>
									<li><a href="/devices">Device</a></li>
									<li><a href="/dashboard">Dashboard</a></li>
									<li><a href="/contactus" class="active">Complains</a></li>

								</ul>
								<a class='menu-trigger'>
									<span>Menu</span>
								</a>
								<!-- ***** Menu End ***** -->
							</nav>
						</div>
					</div>
				</div>
			</header>
			<div class="wrap-table100">
				<div class="table100">
					<% if (complains.length> 0) { %>
						<table>
							<thead>
								<tr class="table100-head">
									<th class="column1">Name</th>
									<th class="column2">Mail</th>
									<th class="column3">Date</th>
									<th class="column4">Message</th>


								</tr>
							</thead>
							<tbody>
								<% complains.forEach(()=> { %>
									<tr>
										<td class="column1">
											<%= name %>
										</td>
										<td class="column2">
											<%= email %>
										</td>
										<td class="column3">
											<%= complains.createdAt %>
										</td>
										<td class="column4">
											<%= complains.complain %>
										</td>

									</tr>
									<% }) %>
										<div class="button_con">
											<button class="example_b" onclick="btnClicked1()" target="_blank"
												rel="nofollow noopener">Delete</button>

										</div>

										<% } else { %>
											<p class="noDoc"> There is no complains to show</p>

											<% } %>
							</tbody>
						</table>



				</div>
			</div>
		</div>
	</div>
	<script>

		function btnClicked1() {
			document.location.href = "https://www.google.com/";
		}

	</script>

	<!--===============================================================================================-->
	<script src="/complains/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/complains/vendor/bootstrap/js/popper.js"></script>
	<script src="/complains/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/complains/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/complains/js/main.js"></script>

</body>

</html>